<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>

  <title>k8s labels migrator</title>
</head>
<body class="flex justify-center p-6">
  <div class="flex-col w-full xl:w-1/2">
    <h1 class="text-4xl">Migration summary</h1>

    <h1 class="mt-8 mb-2 text-2xl underline">Native</h1>
    <table class="table-auto">
      <thead>
        <tr>
          <th class="px-2 py-1 text-xs font-medium text-gray-500 uppercase text-start">ApiVersion</th>
          <th class="px-2 py-1 text-xs font-medium text-gray-500 uppercase text-start">Kind</th>
          <th class="px-2 py-1 text-xs font-medium text-gray-500 uppercase text-start">Name</th>
        </tr>
      </thead>
      

      <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
        {{ range .NativeResources }}
        <tr>
          <td class="px-2 py-1 text-xs text-center text-gray-800 md:text-sm xl:px-4 whitespace-nowrap dark:text-gray-200">{{ .ApiVersion }}</td>
          <td class="px-2 py-1 text-xs text-center text-gray-800 md:text-sm xl:px-4 whitespace-nowrap dark:text-gray-200">{{ .Kind }}</td>
          <td class="px-2 py-1 text-xs text-left text-gray-800 md:text-sm xl:px-4 whitespace-nowrap dark:text-gray-200">{{ .Name }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>

    <h1 class="mt-8 mb-2 text-2xl underline">Keda</h1>
    <table class="table-auto">
      <thead>
        <tr>
          <th class="px-2 py-1 text-xs font-medium text-gray-500 uppercase text-start">ApiVersion</th>
          <th class="px-2 py-1 text-xs font-medium text-gray-500 uppercase text-start">Kind</th>
          <th class="px-2 py-1 text-xs font-medium text-gray-500 uppercase text-start">Name</th>
        </tr>
      </thead>
      

      <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
        {{ range .KedaResources }}
        <tr>
          <td class="px-2 py-1 text-xs text-center text-gray-800 md:text-sm xl:px-4 whitespace-nowrap dark:text-gray-200">{{ .ApiVersion }}</td>
          <td class="px-2 py-1 text-xs text-center text-gray-800 md:text-sm xl:px-4 whitespace-nowrap dark:text-gray-200">{{ .Kind }}</td>
          <td class="px-2 py-1 text-xs text-left text-gray-800 md:text-sm xl:px-4 whitespace-nowrap dark:text-gray-200">{{ .Name }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>

    <h1 class="mt-8 mb-2 text-2xl underline">Istio</h1>
    <table class="table-auto">
      <thead>
        <tr>
          <th class="px-2 py-1 text-xs font-medium text-gray-500 uppercase text-start">ApiVersion</th>
          <th class="px-2 py-1 text-xs font-medium text-gray-500 uppercase text-start">Kind</th>
          <th class="px-2 py-1 text-xs font-medium text-gray-500 uppercase text-start">Name</th>
        </tr>
      </thead>
      

      <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
        {{ range .IstioResources }}
        <tr>
          <td class="px-2 py-1 text-xs text-center text-gray-800 md:text-sm xl:px-4 whitespace-nowrap dark:text-gray-200">{{ .ApiVersion }}</td>
          <td class="px-2 py-1 text-xs text-center text-gray-800 md:text-sm xl:px-4 whitespace-nowrap dark:text-gray-200">{{ .Kind }}</td>
          <td class="px-2 py-1 text-xs text-left text-gray-800 md:text-sm xl:px-4 whitespace-nowrap dark:text-gray-200">{{ .Name }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</body>
</html>
