name: Lint

on:
  pull_request:

permissions:
  contents: read

jobs:
  golangci:
    name: Verify lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [1.25]

    steps:
      - uses: actions/checkout@v6

      - id: vars
        run: |
          echo ::set-output name=go_version::$(cat go.mod | head -3 | tail -1 | cut -d ' ' -f 2)
          echo "Using Go version ${{ steps.vars.outputs.go_version }}"


      - uses: actions/setup-go@v6
        with:
          go-version: ${{ steps.vars.outputs.go_version }}
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.1
